<div id="pdpImages" style="position: relative; width: 100%; display: flex; flex-direction: column;">

    <div class="main-image">
        {% for media in product.media %}
            {% case media.media_type %}
            {% when 'image' %}
                <img id="{{ media.id }}" src="{{ media | img_url: '1000x' }}" 
                     height="{{ media.height }}" width="{{ media.width }}" 
                     alt="{{ media.alt }}" data-image-id="{{ media.id }}" 
                     data-product-featured-image>
            {% when 'model' %}
                <div {% unless forloop.first %}style="display: none;"{% endunless %}>
                    {{ media | model_viewer_tag }}
                </div>
            {% else %}
            {% endcase %}
        {% endfor %}
    </div>

    <div class="image-nav" style="visibility: hidden; margin: 32px 0;">
        {% for media in product.media %}
            {% case media.media_type %}
            {% when 'image' %}
                <img style="display: none;" src="{{ media | img_url: '250x' }}" 
                     height="{{ media.height }}" width="{{ media.width }}" 
                     alt="{{ media.alt | append: ' Thumbnail' }}">
            {% when 'model' %}
                <img style="display: none;" src="{{ media.preview_image | img_url: '250x' }}" 
                     height="{{ media.preview_image.height }}" 
                     width="{{ media.preview_image.width }}" 
                     alt="{{ media.preview_image.alt | append: ' Thumbnail' }}">
            {% else %}
            {% endcase %}
        {% endfor %}
    </div>

</div>
